.container {
    margin: auto;
    width: 50%;
    padding: 30px;
    text-align: center;
    }

.event-title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%
}

.event-label {
    color: #ffffff;
    background-color: #a18bf0;
    padding: 2px 10px;
    border-radius: 2px;
}

.event-title-cont {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.button-cont {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.events-title-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.typo-summary {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar-login {
    display: flex;
    align-items : center;
}